.whatsapp-container {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 999;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 16vw;
  background-color: transparent;
  padding: 0 0.7vw;
  border-radius: 7px;
  cursor: pointer;
}
.whatsapp-container >h6{
    word-break: no-wrap;
    margin-right: 1vw;
    margin-top: 7px;
    font-weight: 550;
    background-color: #ffffff;
    border-radius: 4px;
    padding:8px 6px;
    margin-left: auto;
}
.whatsapp-container>img{
    width: 62px;
}

@media only screen and (max-width: 767px) {
    .whatsapp-container {
        position: fixed;
        bottom: 30px;
        right: 0px;
        z-index: 999;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 43vw;
        background-color:transparent;
        cursor: pointer;
      }
      .whatsapp-container >h6{
          word-break: no-wrap;
          margin-right: 1vw;
          margin-top: 7px;
          font-weight: 550;
          font-size: 14px;
          border-radius: 4px;
          padding: 6px !important;
      }
      .whatsapp-container>img{
          width: 55px;
          margin-right: 0;
      }
}