/* .custom-height
{
    height: 210px;
}
.icoons{
    font-size:15px;
    margin-right: 10px;
}
@media only screen and (max-width: 768px) {
    .responsive-element {
      width: 100%; /* Element takes up 100% of the parent container's width on smaller screens */


/* @media (min-width:769px){
    .justi{
        width: 8.33%;
        display: flex;
        justify-content: center;
    }

}
@media  (max-width:768px) {
    .alwaysrender{
        width:12/12%;
        display: flex;
        justify-content: center;
    }
    .non{
        display: none;
    }
} */
/* .liner{
    font-size:13px;
}
.mk{
    font-family: 'Dancing Script', cursive;
}
img{
    border-radius: 122px;
} */

.ss {
    border: none; /* Remove default border */
    height: 1px; /* Set the desired height of the horizontal rule */
    background-color: #000000; /* Set the dark color (e.g., black) */
    margin-bottom: 4vh;
  }
/* clone footer csss */

  


.uinder:hover{
    border-width: 100px;
    border-bottom: #000000;
}
  
.round-btn {display: inline;height: 40px; width: 40px; background:#fff;border-radius: 50%;float: left;margin: 15px 8px;box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);border: 1px solid;/*border: 1px solid #622657;*/}
.round-btn a {display: block !important;padding: 7px 12px;font-size: 18px;border-radius: 50%;}
.round-btn .icon {padding: 3px;}
.round-btn .icon img{height: 24px; width: 32px;margin-top: 6px;}
.btn-facebook a {color: #3b5998;padding: 8px 13px;}
.btn-linkedin a {color: #007bb6;}
.btn-twitter a{color: #1c9deb;}
.btn-instagram a{color: #dd3f5c;}
.btn-whatsapp a{color: #155E54;}
.btn-envelop a{color: #D6403A;font-size: 15px; padding: 9px 12px;}
.standard_header .standard_social_links {margin-left: 1rem;}

  /*
  =========================================================================================
                                    footer
  =========================================================================================
  */
  
  .footer-wrap {
    background-size: cover;
    /* margin-bottom: -4vh; */
 }
    /* padding: 0 vw;} */

.footer-wrap h3 {
    color: #000000;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.footer-wrap p {
    font-size: 13px;
    line-height: 24px;
    color: #000000;
    margin-top: 15px;
}

.footer-wrap p a {
    color: #000000;
    text-decoration: underline;
    font-style: italic;
}

.footer-wrap p a:hover {
    text-decoration: none;
    color: #ff7800;
}
.custom-padding{
    padding-left: 4vw !important; 
}
.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}


.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #000000;
}

.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: #000000;
    text-decoration: none;
}

.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: #000000;
}
.footer-category a:hover{
    color:#D6403A;
}
.custom-padding{
    /* background-color: #155E54; */
}

.address {
    
    color: #b3b3b3;
    font-size: 14px;
    position: relative;
    padding-left: 30px;
    line-height: 30px;
}

.address:before {
    content: "\f277";
    font-family: 'FontAwesome';
    position: absolute;
    top: 0;
    left: 0;
}

.info a {
 
    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-phone:before {
    content: "\f095";
}

.info a {

    color: #b3b3b3;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal;
}

.fa-fax:before {
    content: "\f1ac";
}

.copyright {
    border-top: 1px solid #111;
    font-size: 14px;
    color: #ccc;
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
    background: #222;
    width: 100%;
}

.custom-margin{
    margin-left: 2vw;
}

footer .second_class{
    border-bottom: 1px solid #444;
    padding-bottom: 25px;
}
footer .first_class {
    padding-bottom: 21px;
    border-bottom: 1px solid #444;
}
footer .first_class p, footer .first_class h3{
    margin: 0 0;
    
}
footer{
    background: #fffdfd;
    margin-top: auto !important;
    position:relative;
}

footer .newsletter input[type="text"] {
    width: 85%;
    background: #fff;
    color: #333;
    border: 1px solid #222;
    padding: 14px 20px;
    border-radius: 50px;
    margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
    background: #fff;
    position: absolute;
    right: 100px;
    border: 0;
    top: 26px;
    font-size: 17px;
    color: #333;
}


footer .second_class_bdr{
    padding-top: 25px;
    border-top:1px solid #222;
}

footer .btn-facebook a {
    padding: 6px 14px !important;
}

footer .btn-envelop a {
    color: #D6403A;
    font-size: 15px;
    padding: 12px 12px;
}

footer .round-btn a {
    padding: 6px 12px;
}

footer .round-btn {
    box-shadow: 2px 2px 5px 0px #222 !important;}

footer .round-btn {
    margin: 15px 4px;}
  
footer dl, ol, ul {
    padding-left: 5px;
}
  footer li{
    list-style: none;
  }

@media(max-width:768px){
    .footer-wrap h3 {
    margin-top: 27px;}
    
    footer .round-btn {
    margin: 15px 4px;}
    .custom-margin{
        margin-left: 0;
    }
}
@media(max-width:726px){
.copyright {
    font-size: 13px;
    padding: 1vh 10vw;
    /* max-width: 85%; */
}

} 